In [3]:
import pandas as pd

df = pd.read_excel('116_DT_MLTM_5373_20240502120559.xls.xlsx')
df

,2018.01 월,2018.02 월,2018.03 월,2018.04 월,2018.05 월,2018.06 월,2018.07 월,2018.08 월,2018.09 월,2018.10 월,...,2023.05 월,2023.06 월,2023.07 월,2023.08 월,2023.09 월,2023.10 월,2023.11 월,2023.12 월,2024.01 월,2024.02 월
0,4706,4304,4275,4706,6600,6679,6304,5157,5706,9243,...,1641,6890,9419,5066,2010,1991,1725,2158,4120,3538
1,289,176,174,233,260,237,247,211,220,256,...,55,71,99,43,56,31,70,39,96,60
2,420,289,261,376,354,314,419,528,459,465,...,171,151,44,82,116,57,65,87,61,55
3,2450,1978,2345,2708,2509,2496,2733,2531,2000,2112,...,972,1354,894,975,770,519,764,581,497,390
4,61,30,44,29,57,44,15,103,0,36,...,0,340,33,134,74,0,74,67,114,60
5,1486,1831,1451,1360,3420,3588,2890,1784,3027,6374,...,443,4974,8349,3832,994,1384,752,1384,3352,2973

In [4]:
colLength = len(df.columns)
colLength

74

In [6]:
for y in range(100):
    for m in range(12):
        col = y * 12 + m
        
        if col >= colLength:
            break
        
        total = df.iloc[0, col]
        apt = df.iloc[5, col]
        notApt = total - apt
        
        print(f"{y + 2018}\t{m + 1}\t{apt}\t{notApt}\t{total}")

2018	1	1486	3220	4706
2018	2	1831	2473	4304
2018	3	1451	2824	4275
2018	4	1360	3346	4706
2018	5	3420	3180	6600
2018	6	3588	3091	6679
2018	7	2890	3414	6304
2018	8	1784	3373	5157
2018	9	3027	2679	5706
2018	10	6374	2869	9243
2018	11	3197	3795	6992
2018	12	13330	3462	16792
2019	1	2261.0	3138.0	5399.0
2019	2	10658	2514	13172
2019	3	621	2565	3186
2019	4	980	3414	4394
2019	5	1555	2923	4478
2019	6	4512	2565	7077
2019	7	2482	2909	5391
2019	8	2255	2453	4708
2019	9	9091	2156	11247
2019	10	1309	2616	3925
2019	11	3528	2623	6151
2019	12	6378	2888	9266
2020	1	3620	2432	6052
2020	2	8581	2214	10795
2020	3	4953	1931	6884
2020	4	5000	2255	7255
2020	5	3796	1944	5740
2020	6	4318	2047	6365
2020	7	4543	2661	7204
2020	8	4629	1705	6334
2020	9	7788	2350	10138
2020	10	613	1885	2498
2020	11	2703	2328	5031
2020	12	6240	2716	8956
2021	1	2846	2630	5476
2021	2	8884	1971	10855
2021	3	3651	2200	5851
2021	4	1263	2300	3563
2021	5	2664	1839	4503
2021	6	2992	2253	5245
2021	7	4666	2527	7193
2021	8	3874	2110	5984
2021	9	2355	2240	4595
2021	10	1636	1734	3370
2021	11	3969	2342	6311
2021	12	7851	2519	10370
2022	1	3949	2196	6145
2022	2	2474	1634	4108
2022	3	5119	1774	6893
2022	4	3737	1817	5554
2022	5	1121	2015	3136
2022	6	833	2356	3189
2022	7	285	2154	2439
2022	8	5877	2265	8142
2022	9	272	1774	2046
2022	10	3236	1414	4650
2022	11	2449	1827	4276
2022	12	5341	1719	7060
2023	1	2102	1183	3285
2023	2	613	1606	2219
2023	3	1268	1649	2917
2023	4	1156	1745	2901
2023	5	443	1198	1641
2023	6	4974	1916	6890
2023	7	8349	1070	9419
2023	8	3832	1234	5066
2023	9	994	1016	2010
2023	10	1384	607	1991
2023	11	752	973	1725
2023	12	1384	774	2158
2024	1	3352	768	4120
2024	2	2973	565	3538