In [2]:
import pandas as pd
df = pd.read_excel('116_DT_MLTM_5387_20240501175108.xls.xlsx')
df

,2018.01 월,2018.02 월,2018.03 월,2018.04 월,2018.05 월,2018.06 월,2018.07 월,2018.08 월,2018.09 월,2018.10 월,...,2023.05 월,2023.06 월,2023.07 월,2023.08 월,2023.09 월,2023.10 월,2023.11 월,2023.12 월,2024.01 월,2024.02 월
0,4407,6864,7402,8080,9734,6991,9268,4877,5910,4656,...,2809,1036,1677,1578,755,3988,5783,668,1336,1298
1,150,148,332,223,226,242,237,257,145,148,...,57,40,22,15,23,39,47,42,12,19
2,181,295,751,568,570,561,550,471,257,280,...,84,50,46,23,35,31,25,14,38,40
3,1854,2597,3221,2485,2607,2444,2782,2314,1821,2519,...,522,308,307,225,228,243,471,292,305,258
4,70,28,25,40,145,81,9,92,76,53,...,96,183,0,10,35,15,2,39,0,71
5,2152,3796,3073,4764,6186,3663,5690,1743,3611,1656,...,2050,455,1302,1305,434,3660,5238,281,981,910

In [3]:
colLength = len(df.columns)
colLength

74

In [4]:
for y in range(100):
    for m in range(12):
        col = y * 12 + m
        
        if col >= colLength:
            break
        
        total = df.iloc[0, col]
        apt = df.iloc[5, col]
        notApt = total - apt
        
        print(f"{y + 2018}\t{m + 1}\t{apt}\t{notApt}\t{total}")

2018	1	2152	2255	4407
2018	2	3796	3068	6864
2018	3	3073	4329	7402
2018	4	4764	3316	8080
2018	5	6186	3548	9734
2018	6	3663	3328	6991
2018	7	5690	3578	9268
2018	8	1743	3134	4877
2018	9	3611	2299	5910
2018	10	1656	3000	4656
2018	11	4098	2467	6565
2018	12	4241	1825	6066
2019	1	1024	2223	3247
2019	2	5270	2656	7926
2019	3	2529	3112	5641
2019	4	2236	2400	4636
2019	5	1432	2778	4210
2019	6	5359	2016	7375
2019	7	4469.0	2557.0	7026.0
2019	8	3144	1916	5060
2019	9	1972.0	1755.0	3727.0
2019	10	2256	2017	4273
2019	11	1957	2313	4270
2019	12	22434	1992	24426
2020	1	259	1683	1942
2020	2	3197	1709	4906
2020	3	1697	2766	4463
2020	4	9000	2524	11524
2020	5	3133	2543	5676
2020	6	8697	2626	11323
2020	7	7310	2784	10094
2020	8	329	2206	2535
2020	9	296	2460	2756
2020	10	475	2504	2979
2020	11	1212	2201	3413
2020	12	5897	2383	8280
2021	1	581	1557	2138
2021	2	3112	1721	4833
2021	3	1961	2439	4400
2021	4	784	2271	3055
2021	5	1525	2501	4026
2021	6	4379	2463	6842
2021	7	1596	2874	4470
2021	8	3497	2264	5761
2021	9	3152	2217	5369
2021	10	13445	2477	15922
2021	11	1946	2426	4372
2021	12	7105	2147	9252
2022	1	3099	1628	4727
2022	2	2889	1487	4376
2022	3	5924	1818	7742
2022	4	3408	1817	5225
2022	5	2532	2078	4610
2022	6	7312	2068	9380
2022	7	5834	1636	7470
2022	8	2904	1378	4282
2022	9	4133	1060	5193
2022	10	2727	1430	4157
2022	11	1872	1448	3320
2022	12	2465	839	3304
2023	1	1608	587	2195
2023	2	882	635	1517
2023	3	3833	859	4692
2023	4	848	702	1550
2023	5	2050	759	2809
2023	6	455	581	1036
2023	7	1302	375	1677
2023	8	1305	273	1578
2023	9	434	321	755
2023	10	3660	328	3988
2023	11	5238	545	5783
2023	12	281	387	668
2024	1	981	355	1336
2024	2	910	388	1298