In [20]:
import pandas as pd
df = pd.read_csv('../data/서울시_1인당_지역내총생산_지역총소득_개인소득/원본/copy.csv')
df

,시도별,2018,2018.1,2018.2,2018.3,2019,2019.1,2019.2,2019.3,2020,...,2020.2,2020.3,2021,2021.1,2021.2,2021.3,2022,2022.1,2022.2,2022.3
0,시도별,1인당 지역내총생산,1인당 지역총소득,1인당 개인소득,1인당 민간소비,1인당 지역내총생산,1인당 지역총소득,1인당 개인소득,1인당 민간소비,1인당 지역내총생산,...,1인당 개인소득,1인당 민간소비,1인당 지역내총생산,1인당 지역총소득,1인당 개인소득,1인당 민간소비,1인당 지역내총생산,1인당 지역총소득,1인당 개인소득,1인당 민간소비
1,서울특별시,43664,48362,23323,21314,45118,48693,23978,21991,46221,...,24226,21185,49680,54571,24950,22603,51612,57236,26112,24455

In [21]:
colLength = len(df.columns)
colLength

21

In [22]:
yearList = []
localProduceList = []
localEarnList = []
personalEarnList = []
personalConsumeList = []

for i in range(10000000):
    col1 = 4 * i + 1
    col2 = 4 * i + 2
    col3 = 4 * i + 3
    col4 = 4 * i + 4

    if col1 >= colLength or \
       col2 >= colLength or \
       col3 >= colLength or \
       col4 >= colLength:
        break
    
    yearList.append(int(df.columns[col1]))
    localProduceList.append(int(df.iloc[1, col1]))
    localEarnList.append(int(df.iloc[1, col2]))
    personalEarnList.append(int(df.iloc[1, col3]))
    personalConsumeList.append(int(df.iloc[1, col4]))

In [23]:
df2 = pd.DataFrame()
df2['기준년도'] = yearList
df2['1인당 지역내총생산'] = localProduceList
df2['1인당 지역총소득'] = localEarnList
df2['1인당 개인소득'] = personalEarnList
df2['1인당 민간소비'] = personalConsumeList
df2

   기준년도  1인당 지역내총생산  1인당 지역총소득  1인당 개인소득  1인당 민간소비
0  2018       43664      48362     23323     21314
1  2019       45118      48693     23978     21991
2  2020       46221      49006     24226     21185
3  2021       49680      54571     24950     22603
4  2022       51612      57236     26112     24455

In [24]:
df2['가상? 가처분소득'] = df2['1인당 개인소득'] - df2['1인당 민간소비']
df2

   기준년도  1인당 지역내총생산  1인당 지역총소득  1인당 개인소득  1인당 민간소비  가상? 가처분소득
0  2018       43664      48362     23323     21314       2009
1  2019       45118      48693     23978     21991       1987
2  2020       46221      49006     24226     21185       3041
3  2021       49680      54571     24950     22603       2347
4  2022       51612      57236     26112     24455       1657

In [25]:
df2.to_csv('../data/서울시_1인당_지역내총생산_지역총소득_개인소득/전처리/전처리_개인소득소비.csv', encoding = 'utf-8-sig')